<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kyle Tress">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page_title %> - Kyle Tress</title>
    <%= javascript_include_tag "site" %>
    <style media="screen">
      body {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
