<div class="newsletter">
  <h3>Performance Reading Newsletter</h3>
  <p>Books make us better &mdash; better thinkers, better leaders, and better perfomers. With so many good books, how do you choose? <strong>Let me help</strong>. Join my <strong>monthly newsletter</strong> to receive book recommendations, plus original and curated content on performance, leadership, mastery, and strategy. <a href="/newsletter">Learn more</a>.</p>
  {% include newsletter_form.html %}
  <small>Never spam. Unsubscribe anytime.</small>
</div>

{% include slide-up.html %}
