<div class="post__social">
  {% if page.comments == true %}
  <button onclick="load_disqus()" id="js-comment-btn">
    <span class="disqus-comment-count comments-link" data-disqus-url="{{ site.url }}{{ page.url }}">Leave a comment</span>
  </button>
  {% endif %}
</div>

{% if page.comments == true %}
<section class="post__comments">
  <div id="disqus_thread"></div>
    <noscript>Please enable javascript to view the comments</noscript>
    <div id="disqus_loader">
      <script async>
        var disqus_shortname = "{{ site.disqus-shortname}}";
        var disqus_title = "{{ page.title | xml_escape }}";
        var disqus_url = "{{ page.url | replace:"index.html","" | prepend: site.url }}";
        function load_disqus(){
          document.getElementById("js-comment-btn").classList.add("btn--disabled");
          var dsq = document.createElement("script");
          dsq.type = "text/javascript";
          dsq.async = true;
          dsq.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
          (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
        }
      </script>
  </div>
</section>
{% endif %}
