<nav class="social-links">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="btn--facebook">Share on Facebook</a> &bull;
  <a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{ site.url }}{{ page.url }}&via={{site.data.social.twitter}}" class="btn--twitter">Share on Twitter</a> &bull;
  <a href="mailto:?subject={{page.title | uri_escape }}%20by%20{{site.title | uri_escape}}&amp;body={{site.url}}{{page.url}}" target="_blank" class="link--email">Share by Email</a>
</nav>
