html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 92%;
  max-width: $max-container-width;
  font-family: $body-font;
  font-size: 1.4rem;
  line-height: $line-height;
}

h1 {font-size:1.8rem;margin:0;}
h3 {font-weight: 600;}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 10%);
  }

}

main {
  flex: 1; // main takes up all remaining space.
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
  figcaption {
    color: #999;
    font-size: 1.2rem;
    text-align:right;
  }
}

header, footer {
  padding: 3.2rem 0;
  text-align: center;
  @media(min-width:$breakpoint) {
    text-align: left;
  }
  nav a { margin-right: 1.5rem; }
}

footer{
  color:grey;
  a{color:grey;}
}

.book-cover {
  border: 1px solid #ddd;
  padding: 4px;
}

.masthead {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
  font-size:1.4rem;
  margin: 0;
  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
  img { margin-right: 1rem; border-radius:2px;}
}

article > header {
  padding: 0 0 3.2rem 0;
  h2 {
    margin: 0;
  }
  p {margin: 0;color:grey;}
}
