html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: $font-size--sm;
  line-height: $line-height;
  color: $color-text;
  background-color: $color-background;
  border-top: $body-border;

  @media (min-width: $breakpoint) {
    font-size: $font-size--normal;
  }
  @media (min-width: $breakpoint--large) {
    font-size: $font-size--lg;
  }
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  &:hover {
    color: $link-color--hover;
    text-decoration: $link-text-decoration--hover;
  }
}

figure {
  margin: 0;
  figcaption {
    color: #999;
    font-size: 1rem;
    text-align:right;
  }
}

.avatar {
  border-radius: $avatar-border-radius;
  height: $avatar-height;
  width: $avatar-width;
  margin-right: 1rem;
}

.book-cover {
  border: 1px solid #ddd;
  padding: 4px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 2rem;
  font-size: $font-size--sm;
  blockquote {
    font-style: italic;
    color: lighten($color-text, 30%);
    margin-left: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  border-bottom: 1px solid #eee;
}

ol, ul {
  padding-left: 3rem;
}
