body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 auto;
  width: 94%;
  max-width: 560px;
  min-height: 100vh;
  color: #3a3a3a;
}

main {
  flex: 1;
}

a {
  color: #286dc0;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  color: rgba(0,0,0,.50);
}

header, footer {
  padding: 1rem 0;
  a {
    color: black;
    font-weight: 600;
  }
}

h2 {
  line-height: 24px;
}

// -------------------------------
// MICROBLOG
// -------------------------------

.microblog-posts {
  margin-top:2rem;
}
.microblog-post:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  p:last-of-type {
    margin: 0;
  }
  img {
    margin: 1rem 0;
    max-width: 450px;
  }
}

.microblog-post--single {
  img {
    margin: 1rem auto;
    max-width: 560px;
  }
}

.microblog-post__footer {
  color: lighten(#555, 20%);
  font-size: .9rem;
  //padding-top: .5rem;
  a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
  }
}
