.site-footer {
  text-align: center;
  padding: $footer-padding;
  width: 90%;
  margin: 0 auto;
  max-width: $max-container-width;
  color: $color-text;
  @media(min-width:600px) {
    text-align: left;
  }

  a {
    color: $color-text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size:1.2rem;
    margin: 0;
    span {
      text-transform: none;
    }
  }
}
