header {
  //border-bottom: 1px solid $color-muted;
  margin-bottom:3rem;
  background: $header-background;
  font-family: $header-font;
  padding: $header-padding;
  nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    max-width: $max-container-width;
    a {
      color: $nav-link-color;
      font-size: 1.2rem;
      padding: 1.35rem 1rem;
      text-decoration: $nav-text-decoration;
      &.brand {
        flex: 1;
        padding: 0;
      }
      &:hover {
        color: white;
        text-decoration: $nav-text-decoration--hover;
      }
    }
    .is--active {
      font-weight: 600;
      color: white;
      border-bottom: 1px solid $nav-link-color--hover;
      text-decoration: $nav-text-decoration--active;
    }
  }
}
