header {
  border-bottom: 1px solid $color-muted;
  margin-bottom:3rem;
  background: $header-background;
  font-family: $ui-font;
  nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 650px;
    @media(min-width: $breakpoint) {
      //flex-direction: row;
      //justify-content: space-between;
    }
    a {
      color: #aaa;
      font-size: 1.2rem;
      padding: 1.35rem 1rem;
      &.brand {
        flex: 1;
        padding: 0;
      }
      &:hover {
        color: black;
        text-decoration: $nav-text-decoration--hover;
      }
    }
    .is--active {
      font-weight: 600;
      color: black;
      border-bottom: 1px solid $nav-link-color--hover;
    }
  }
}
