html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-size: 1.3rem;
  @media(min-width: 600px) {
    padding-top: 4rem;
  }
}

main {
  flex: 1;
}

a {
  color: #0071bc;
  &:hover {
    color: darken(#0071bc, 15%);
  }
}

footer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #999;
  a { color: #555; }
  img { margin-right: .5rem; border-radius: 50% }
}

.brand {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
