html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 48rem;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  @media(min-width: 600px) {
    padding: 4rem;
  }
}

main {
  flex: 1;
}

a {
  color: #0071bc;
  &:hover {
    color: darken(#0071bc, 15%);
  }
}

footer {
  display: flex;
  align-items: center;
  font-size: .8rem;
  color: #999;
  a { color: #555; }
  img { margin-right: .5rem; border-radius: 50% }
}
