// PALETTE
$cinder: #151523;
$ebony-clay: #2a2a46;
$alizarin-crimson: #e31c3d;
$lochmara: #0071bc;

// THEME COLORS
$color-background: white;
$color-text: black;
$color-text--muted: darken(white, 15%);
$color-muted: $ebony-clay;
$color-borders: $ebony-clay;
$color-primary: #0071bc;
$color-secondary: #e31c3d;

// Body and Type
$link-color: $color-primary;
$link-color--hover: $color-secondary;
$link-text-decoration: underline;
$link-text-decoration--hover: underline;

// FONTS
$font-serif: Georgia, serif;
$font-sans: courier, -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-code: monospace;

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra: 900;

$body-font: $font-sans;
$base-line-height: 26;
$font-size--normal: 1.4em; // sizing is in rems elsewhere (Chrome bug)
$font-size--sm: 1.4rem;
$font-size--xs: 1.2rem;
$font-size--lg: 1.4rem;
$font-size--xl: 2.0rem;
$line-height: 1.5; // optimal is 26 for this width.

// Layout
$spacing-unit: 30px;
$max-container-width: 700px;
$max-container-width--large: 800px;
$body-border: 2px solid $color-secondary;

// Avatar
$avatar-border-radius: 50%;
$avatar-width: 85px;
$avatar-height: 85px;

// Header
$header-background: white;
$header-font: $font-sans;
$header-padding: 4rem 0;
$header-link-color: black; // plain header links, outside navs
$header-link-color--hover: darken($header-link-color, 15%);
$header-border-style: 1px solid; // leave empty string if none ""
$header-border-color: $color-borders;
$header-border-sides: bottom;
$header-width: 800px;

// Main Navigation
$nav-link-color: $lochmara;
$nav-link-color--hover: $color-secondary;
$nav-link-color--active: $nav-link-color--hover;
$nav-text-transform: uppercase;
$nav-link-font-weight: $font-weight--medium;
$nav-letter-spacing: 0;
$nav-font-size: 1.3rem;
$nav-text-decoration: none;
$nav-text-decoration--hover: none;
$nav-text-decoration--active: none;

// Footer
$footer-background: #fff;
$footer-padding: 1.5rem 0;
$footer-link-color: $ebony-clay;
$footer-width: $header-width;
$footer-border-style: 1px solid;
$footer-border-color: $header-border-color;
$footer-border-sides: top;
$footer-font-size: $font-size--sm;
$footer-text-color: #2a2a46;
$footer-text-transform: uppercase;

// Breakpoint
$breakpoint: 700px;
$breakpoint--large: 1200px;
$breakpoint--small: 480px;
$small: 600px;
$large: 1200px;
