// Colors
$color-primary: #0071bc;
$color-secondary: #e31c3d;
$background-color: #fff;
$text-color: rgba(0, 0, 0, .9);
$link-color: $color-primary;
$link-color--hover: darken($link-color, 10%);
$color-muted: #aeb0b5;
$color-muted--light: lighten($color-muted, 25%);
$color-borders: #eee;

// Fonts
$font-serif: "Tiempos", "Georgia", "Source Serif Pro", Georgia, serif;
$font-sans: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-code: "Source Code Pro";

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra: 900;

$body-font: $font-serif;
$ui-font: $font-sans;
$base-line-height: 26;
$font-size--normal: 1.4em; // sizing is in rems elsewhere (Chrome bug)
$font-size: 1.5rem;
$font-size--small: 1.2rem;
$font-size--xsmall: 1.2rem;
$font-size--large: 1.5rem;
$line-height: 1.8; // optimal is 26 for this width.

// Layout
$spacing-unit: 30px;
$max-container-width: 640px;
$max-container-width--large: 800px;
//$body-border: 4px solid $color-secondary;
$body-border: 4px solid $color-secondary;

// Branding
$brand-font: $font-sans;
$brand-font-size: 1.6rem;
$brand-color: #2a2a2a;
$brand-text-transform: none;
$brand-color--hover: darken($brand-color, 15%);
$brand-text-decoration--hover: none;

// Avatar
$avatar-border-radius: 50%;
$avatar-width: 32px;
$avatar-height: 32px;

// Masthead
$masthead-text-color: #2a2a2a;
$masthead-font-size: 1.3rem;
$masthead-font-weight: $font-weight--medium;
$masthead-text-transform: none;
$masthead-padding: 3rem 0;

// Header
$header-background: #fff;
$header-font: $font-sans;
$header-padding: 3rem 0;
$header-link-color: #222; // plain header links, outside navs
$header-link-color--hover: darken($header-link-color, 15%);
$header-border-style: 1px solid; // leave empty string if none ""
$header-border-color: $color-borders;
$header-border-sides: bottom;
$header-width: 800px;

// Main Navigation
$nav-link-color: $header-link-color;
$nav-link-color--hover: $color-secondary;
$nav-link-color--active: $nav-link-color--hover;
$nav-text-transform: uppercase;
$nav-link-font-weight: $font-weight--medium;
$nav-letter-spacing: 0;
$nav-font-size: 1.3rem;
$nav-text-decoration: none;
$nav-text-decoration--hover: none;

// Footer
$footer-background: #fff;
$footer-padding: $header-padding;
$footer-link-color: $text-color;
$footer-width: $header-width;
$footer-border-style: 1px solid;
$footer-border-color: $header-border-color;
$footer-border-sides: top;
$footer-font-size: $font-size--small;
$footer-font-color: $color-muted;
$footer-text-transform: uppercase;

// subtitles
$subtitle-text-color: $color-secondary;
$subtitle-font-size: $font-size--small;
$subtitle-text-transform: uppercase;
$subtitle-letter-spacing: 0;

// footnotes
$footnote-font-size: 1.2rem;
$footnote-font-style: normal;
$footnote-text-color: #999;
$footnote-font-family: $font-serif;

// Breakpoint
$breakpoint: 700px;
$breakpoint--large: 1200px;
$breakpoint--small: 480px;
$small: 600px;
$large: 1200px;

// Social Colors
$social-colors: (
  twitter: #55acee,
  facebook: #3b5998,
  instagram: #f56040,
  google: #ea4335,
  tumblr: #35465c,
  linkedin: #0077b5,
  treehouse: #6fbc6d,
  github: #4183c4,
  email: #ddd
);
