---
title: Commonplace Book
layout: cp
---

- tag_cloud = []

- data.books.each do |book|
  - book[1].try(:marginalia).try(:each) do |m|
    - m.tags.each do |tag|
      - tag_cloud << tag.titleize

- sorted = tag_cloud.uniq.sort.group_by{|t| t[0]}
- sorted.each do |alpha, items|
  %h4= alpha
  = items.collect{ |item| link_to(item, "/cp/#{item.parameterize}")}.to_sentence
  -# items.each do |item|
    -# = link_to item, "/cp/#{item.parameterize}"
