<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kyle Tress">
    <title>Kyle Tress - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <main>
      {{content}}
    </main>
    <footer>
      <img src="uploads/headshot.jpg" alt="" width="48">&copy; 2003 - {{ site.time | date: '%Y' }}, Kyle Tress · <a href="mailto:kyle@kyletress.com">kyle@kyletress.com</a>
    </footer>
  </body>
</html>
