<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kyle Tress">
    <title>Kyle Tress - {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{content}}
    </main>
    {% include footer.html %}
  </body>
</html>
