header {
  border-bottom: 1px solid $color-muted--light;
  //padding: .5rem;
  margin-bottom:4rem;
  background: #fafafa;
  font-family: $ui-font;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    @media(min-width: $breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
    a {
      color: #aaa;
      text-transform: none;
      letter-spacing: $nav-letter-spacing;
      font-size: 1.2rem;
      font-weight: $nav-link-font-weight;
      text-decoration: $nav-text-decoration;
      padding: 1rem;
      &.brand {
        padding: 0;
      }
      &:hover {
        color: black;
        text-decoration: $nav-text-decoration--hover;
      }
    }
    .is--active {
      font-weight: 600;
      color: black;
      border-bottom: 1px solid $nav-link-color--hover;
    }
  }
}
