.container {
  max-width: $max-container-width;
  margin: 0 auto;
  width: 90%;
  @media(min-width: $breakpoint--large) {
    max-width: $max-container-width--large;
  }
}

// Sticky Footer styles
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; // main takes up all remaining space.
}

.slide-up {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255, .92);
  padding: 2rem;
  border-top: 1px solid $color-borders;
  text-align: center;
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
