.site-nav {
  display: flex;
  width: $max-container-width;
  margin: 0 auto;
  @media(min-width: $breakpoint--large) {
    width: $max-container-width--large;
  }
  a {
    color: $nav-link-color;
    text-transform: $nav-text-transform;
    letter-spacing: $nav-letter-spacing;
    font-size: $nav-font-size;
    font-weight: $nav-link-font-weight;
    text-decoration: $nav-text-decoration;
    padding: 2rem;
    &:hover {
      color: $nav-link-color--hover;
      text-decoration: $nav-text-decoration--hover;
    }
  }
  .is--active {
    font-weight: $font-weight--bold;
    color: white;
    background: $nav-link-color--active;
    &:hover {
      background: $nav-link-color--active;
      color: white;
    }
  }
}
