---
title: Contact
---

%h2 How to contact me

%p
  I’m intentionally harder to reach than most people. I don’t have a general purpose email address and I don’t use social media. I try to maximize the time I have outside my main commitments: training for the Olympics, working at a startup, writing a book, and my athlete rep duties. The best way to reliably reach me is in person, but here are some other ways you can get in touch.

%h3 Interesting

%p
  I occasionally receive interesting opportunities via email, which I love. Just send a note to
  = mail_to 'interesting@kyletress.com', 'interesting@kyletress.com'
  and I’ll reply to those which are a good fit for my schedule and interests.

%h3 Interviews

%p
  All skeleton-related interviews should be booked through Kristen Gowdy at USA Bobsled/Skeleton.

%h3 Skeleton advice and coaching

%p
  For skeleton advice, please see my
  = link_to 'frequently asked questions', '/faqs'
  and send a message to
  = mail_to 'skeleton@kyletress.com', 'skeleton@kyletress.com'
  if your question isn’t answered there.

%p
  At present, I have no interest in coaching after retirement.

%h3 Employment

%p
  I’m open to full-time employment opportunities assuming they are remote (at least through March 2018). I will consider part-time and contract work, but not equity offers. Send a note to #{mail_to 'hello@kyletress.com', 'hello@kyletress.com'}.
